temperatures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="meteo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mesure" type="T_MESURE" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="T_MESURE">
        <xsd:sequence>
            <xsd:element name="ville" type="T_VILLE" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="date" type="xsd:date" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="T_VILLE">
        <xsd:attribute name="nom" type="xsd:string" use="required"/>
        <xsd:attribute name="temperature" type="xsd:float" use="required"/>
    </xsd:complexType>
</xsd:schema>